In [1]:
import pandas as pd

In [2]:
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__deprecated_num_index_names', '__dir__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_is_numpy_dev', '_libs', '_testing', '_typing', '_version', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [3]:
[i for i in dir(pd)]

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__deprecated_num_index_names',
 '__dir__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_testing',
 '_typing',
 '_version',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [4]:
who = pd.read_csv("E:\Datavisualization_classes\WHO.csv")

In [5]:
print(who)

      Date_reported                           Country  New_cases  \
0        2020-01-04                             China          1
1        2020-01-05                             China          0
2        2020-01-06                             China          3
3        2020-01-07                             China          0
4        2020-01-08                             China          0
...             ...                               ...        ...
31871    2020-07-31                            Panama       1046
31872    2020-07-31                       Timor-Leste          0
31873    2020-07-31                         Guatemala       1221
31874    2020-07-31  Saint Vincent and the Grenadines          0
31875    2020-07-31  Democratic Republic of the Congo         79

       Cumulative_cases  New_deaths  Cumulative_deaths
0                     1           0                  0
1                     1           0                  0
2                     4           0                  0
3                     4           0                  0
4                     4           0                  0
...                 ...         ...                ...
31871             63269          25               1374
31872                24           0                  0
31873             48826          32               1867
31874                52           0                  0
31875              9009           2                214

[31876 rows x 6 columns]

In [6]:
print(type(who))

<class 'pandas.core.frame.DataFrame'>

In [7]:
who.ndim

2

In [8]:
who

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-04,China,1,1,0,0
1,2020-01-05,China,0,1,0,0
2,2020-01-06,China,3,4,0,0
3,2020-01-07,China,0,4,0,0
4,2020-01-08,China,0,4,0,0
...,...,...,...,...,...,...
31871,2020-07-31,Panama,1046,63269,25,1374
31872,2020-07-31,Timor-Leste,0,24,0,0
31873,2020-07-31,Guatemala,1221,48826,32,1867
31874,2020-07-31,Saint Vincent and the Grenadines,0,52,0,0
31875,2020-07-31,Democratic Republic of the Congo,79,9009,2,214

In [9]:
who.head()

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-04,China,1,1,0,0
1,2020-01-05,China,0,1,0,0
2,2020-01-06,China,3,4,0,0
3,2020-01-07,China,0,4,0,0
4,2020-01-08,China,0,4,0,0

In [12]:
who["Cumulative_cases"].ndim

1

In [13]:
who["Cumulative_cases"]

0            1
1            1
2            4
3            4
4            4
         ...
31871    63269
31872       24
31873    48826
31874       52
31875     9009
Name: Cumulative_cases, Length: 31876, dtype: int64

In [14]:
who.columns

Index(['Date_reported', 'Country', 'New_cases', 'Cumulative_cases',
       'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [15]:
who.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31876 entries, 0 to 31875
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date_reported      31876 non-null  object
 1   Country            31876 non-null  object
 2   New_cases          31876 non-null  int64
 3   Cumulative_cases   31876 non-null  int64
 4   New_deaths         31876 non-null  int64
 5   Cumulative_deaths  31876 non-null  int64
dtypes: int64(4), object(2)
memory usage: 1.5+ MB

In [16]:
who.shape

(31876, 6)

In [17]:
pd.to_datetime(who["Date_reported"])

0       2020-01-04
1       2020-01-05
2       2020-01-06
3       2020-01-07
4       2020-01-08
           ...
31871   2020-07-31
31872   2020-07-31
31873   2020-07-31
31874   2020-07-31
31875   2020-07-31
Name: Date_reported, Length: 31876, dtype: datetime64[ns]

In [18]:
who.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31876 entries, 0 to 31875
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date_reported      31876 non-null  object
 1   Country            31876 non-null  object
 2   New_cases          31876 non-null  int64
 3   Cumulative_cases   31876 non-null  int64
 4   New_deaths         31876 non-null  int64
 5   Cumulative_deaths  31876 non-null  int64
dtypes: int64(4), object(2)
memory usage: 1.5+ MB

In [19]:
who.Country.unique()

array(['China', 'Thailand', 'Japan', 'Republic of Korea',
       'United States of America', 'Singapore', 'Nepal', 'France',
       'Viet Nam', 'Malaysia', 'Australia', 'Canada', 'Sri Lanka',
       'Cambodia', 'Germany', 'Italy', 'Finland', 'United Arab Emirates',
       'India', 'Philippines', 'Sweden', 'Russian Federation',
       'The United Kingdom', 'Spain', 'Belgium', 'Other', 'Egypt',
       'Iran (Islamic Republic of)', 'Israel', 'Lebanon', 'Oman',
       'Bahrain', 'Switzerland', 'Iraq', 'Afghanistan', 'Kuwait',
       'Algeria', 'Austria', 'Romania', 'Norway', 'North Macedonia',
       'Croatia', 'Georgia', 'Pakistan', 'Brazil', 'Denmark', 'Greece',
       'Estonia', 'Nigeria', 'Lithuania', 'New Zealand', 'Mexico',
       'Netherlands', 'San Marino', 'Ecuador', 'Monaco', 'Qatar',
       'Azerbaijan', 'Belarus', 'Armenia', 'Czechia', 'Ireland',
       'Iceland', 'Luxembourg', 'Morocco', 'Saint Barthélemy', 'Portugal',
       'Tunisia', 'Saint Martin', 'Indonesia', 'Jordan',
       'Dominican Republic', 'Latvia', 'Saudi Arabia', 'Senegal',
       'Andorra', 'Argentina', 'Ukraine', 'Gibraltar', 'Chile', 'Poland',
       'Slovenia', 'South Africa', 'Bosnia and Herzegovina',
       'occupied Palestinian territory, including east Jerusalem',
       'Liechtenstein', 'Hungary', 'Faroe Islands', 'Holy See', 'Serbia',
       'Cameroon', 'Slovakia', 'Colombia', 'Bhutan', 'Martinique', 'Togo',
       'French Guiana', 'Maldives', 'Malta', 'Peru',
       'Republic of Moldova', 'Costa Rica', 'Paraguay', 'Bangladesh',
       'Bulgaria', 'Albania', 'Guernsey', 'Cyprus', 'Panama',
       'Brunei Darussalam', 'Mongolia', 'Jamaica', 'Turkey',
       'Democratic Republic of the Congo', 'Burkina Faso',
       'Bolivia (Plurinational State of)', 'Côte d’Ivoire', 'Jersey',
       'French Polynesia', 'Honduras', 'Guyana',
       'Saint Vincent and the Grenadines', 'Cayman Islands', 'Cuba',
       'United States Virgin Islands', 'Curaçao', 'Réunion',
       'Antigua and Barbuda', 'Trinidad and Tobago', 'Kosovo[1]',
       'Central African Republic', 'Ghana', 'Guadeloupe', 'Kazakhstan',
       'Gabon', 'Guinea', 'Kenya', 'Sudan', 'Namibia', 'Puerto Rico',
       'Venezuela (Bolivarian Republic of)', 'Mayotte',
       'Equatorial Guinea', 'Eswatini', 'Ethiopia', 'Mauritania',
       'Uruguay', 'Congo', 'Seychelles', 'Suriname', 'Guatemala',
       'Saint Lucia', 'Rwanda', 'Somalia', 'Uzbekistan',
       'United Republic of Tanzania', 'Benin', 'Guam', 'Aruba', 'Liberia',
       'Montenegro', 'Bahamas', 'Sint Maarten', 'Bermuda', 'Montserrat',
       'Djibouti', 'Mauritius', 'Kyrgyzstan', 'Gambia', 'Barbados',
       'Greenland', 'Zambia', 'Nicaragua', 'New Caledonia', 'Niger',
       'Chad', 'Fiji', 'El Salvador', 'Haiti', 'Cabo Verde',
       'Papua New Guinea', 'Zimbabwe', 'Isle of Man', 'Timor-Leste',
       'Uganda', 'Eritrea', 'Angola', 'Madagascar', 'Grenada',
       'Syrian Arab Republic', 'Mozambique', 'Dominica', 'Belize',
       "Lao People's Democratic Republic", 'Myanmar',
       'Turks and Caicos Islands', 'Libya', 'British Virgin Islands',
       'Anguilla', 'Mali', 'Guinea-Bissau', 'Saint Kitts and Nevis',
       'Northern Mariana Islands (Commonwealth of the)', 'Sierra Leone',
       'Burundi', 'Botswana', 'Malawi',
       'Bonaire, Sint Eustatius and Saba', 'Falkland Islands (Malvinas)',
       'Sao Tome and Principe', 'South Sudan',
       'Saint Pierre and Miquelon', 'Yemen', 'Comoros', 'Tajikistan',
       'Lesotho'], dtype=object)

In [23]:
who.Country == "Italy"

0        False
1        False
2        False
3        False
4        False
         ...
31871    False
31872    False
31873    False
31874    False
31875    False
Name: Country, Length: 31876, dtype: bool

In [27]:
bol = who.Country == "Italy"

In [29]:
italy = who[bol]

In [30]:
print(italy)

      Date_reported Country  New_cases  Cumulative_cases  New_deaths  \
123      2020-01-29   Italy          6                 6           0
144      2020-01-30   Italy          0                 6           0
158      2020-01-31   Italy          0                 6           0
187      2020-02-01   Italy          0                 6           0
215      2020-02-02   Italy          0                 6           0
...             ...     ...        ...               ...         ...
30870    2020-07-27   Italy        254            246118           5
31097    2020-07-28   Italy        168            246286           5
31333    2020-07-29   Italy        202            246488          11
31629    2020-07-30   Italy        288            246776           6
31686    2020-07-31   Italy        382            247158           3

       Cumulative_deaths
123                    0
144                    0
158                    0
187                    0
215                    0
...                  ...
30870              35107
31097              35112
31333              35123
31629              35129
31686              35132

[185 rows x 6 columns]

In [35]:
Pakistan = who[who.Country == "Pakistan"]
Pakistan

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
898,2020-02-26,Pakistan,6,6,0,0
910,2020-02-27,Pakistan,0,6,0,0
995,2020-02-28,Pakistan,0,6,0,0
1022,2020-02-29,Pakistan,2,8,0,0
1113,2020-03-01,Pakistan,0,8,0,0
...,...,...,...,...,...,...
30882,2020-07-27,Pakistan,1176,274289,20,5842
31051,2020-07-28,Pakistan,936,275225,23,5865
31392,2020-07-29,Pakistan,1063,276288,27,5892
31586,2020-07-30,Pakistan,1114,277402,32,5924
31831,2020-07-31,Pakistan,903,278305,27,5951

In [36]:
print(Pakistan)

      Date_reported   Country  New_cases  Cumulative_cases  New_deaths  \
898      2020-02-26  Pakistan          6                 6           0
910      2020-02-27  Pakistan          0                 6           0
995      2020-02-28  Pakistan          0                 6           0
1022     2020-02-29  Pakistan          2                 8           0
1113     2020-03-01  Pakistan          0                 8           0
...             ...       ...        ...               ...         ...
30882    2020-07-27  Pakistan       1176            274289          20
31051    2020-07-28  Pakistan        936            275225          23
31392    2020-07-29  Pakistan       1063            276288          27
31586    2020-07-30  Pakistan       1114            277402          32
31831    2020-07-31  Pakistan        903            278305          27

       Cumulative_deaths
898                    0
910                    0
995                    0
1022                   0
1113                   0
...                  ...
30882               5842
31051               5865
31392               5892
31586               5924
31831               5951

[157 rows x 6 columns]

In [38]:
who.head(50)

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-04,China,1,1,0,0
1,2020-01-05,China,0,1,0,0
2,2020-01-06,China,3,4,0,0
3,2020-01-07,China,0,4,0,0
4,2020-01-08,China,0,4,0,0
5,2020-01-09,China,0,4,0,0
6,2020-01-10,China,0,4,0,0
7,2020-01-11,China,41,45,1,1
8,2020-01-12,China,0,45,0,1
9,2020-01-13,Thailand,5,5,0,0
10,2020-01-13,China,0,45,0,1
11,2020-01-14,China,0,45,0,1
12,2020-01-14,Japan,5,5,0,0
13,2020-01-14,Thailand,0,5,0,0
14,2020-01-15,Thailand,0,5,0,0
15,2020-01-15,Japan,0,5,0,0
16,2020-01-15,China,0,45,0,1
17,2020-01-16,Thailand,0,5,0,0
18,2020-01-16,Japan,0,5,0,0
19,2020-01-16,China,0,45,0,1
20,2020-01-17,Thailand,1,6,0,0
21,2020-01-17,Japan,0,5,0,0
22,2020-01-17,China,4,49,1,2
23,2020-01-18,Japan,0,5,0,0
24,2020-01-18,Thailand,0,6,0,0
25,2020-01-18,China,17,66,0,2
26,2020-01-19,Thailand,0,6,0,0
27,2020-01-19,Japan,0,5,0,0
28,2020-01-19,Republic of Korea,5,5,0,0
29,2020-01-19,China,59,125,1,3
30,2020-01-20,Japan,0,5,0,0
31,2020-01-20,China,77,202,1,4
32,2020-01-20,Republic of Korea,0,5,0,0
33,2020-01-20,United States of America,5,5,0,0
34,2020-01-20,Thailand,0,6,0,0
35,2020-01-21,Japan,0,5,0,0
36,2020-01-21,Republic of Korea,0,5,0,0
37,2020-01-21,China,93,295,2,6
38,2020-01-21,United States of America,0,5,0,0
39,2020-01-21,Thailand,0,6,0,0
40,2020-01-22,Japan,0,5,0,0
41,2020-01-22,Republic of Korea,0,5,0,0
42,2020-01-22,Thailand,2,8,0,0
43,2020-01-22,United States of America,0,5,0,0
44,2020-01-22,China,152,447,3,9
45,2020-01-23,United States of America,0,5,0,0
46,2020-01-23,Republic of Korea,0,5,0,0
47,2020-01-23,China,131,578,8,17
48,2020-01-23,Japan,0,5,0,0
49,2020-01-23,Thailand,0,8,0,0